<!-- Subscriptions Powered by ReCharge Payments: Begin Liquid Code -->
<!--
	Subscription login assistant
	http://rechargepayments.com: v0.1
-->
<style>
	div#rc_login {
		display: block;
		width: 100%;
	}
</style>

<div id="rc_login" class="text-purple-dark text-center">
	<p class="text-lg font-bold">Having issues managing your subscriptions?</p>

	<a class="font-light inline-block mt-4 leading-tighter text-lg text-purple-dark hover:underline focus-visible:underline" title="Request support for managing your subscriptions" href="/tools/recurring/get-subscription-access">Get help &rarr;</a>
</div>
<!-- Subscriptions Powered by ReCharge Payments: End Liquid Code -->
