<div class="shopify-section">
<div class="container py-8 lg:py-16">
  <div class="row justify-center">
    <div class="col w-full md:w-1/2">
      <h1 class="h2 font-heading font-bold text-center">{{ 'customer.register.title' | t }}</h1>

      {% include 'form--register' %}
    </div>
  </div>
</div>
</div>