<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
</style>

<div class="template-404 container py-12 text-center text-purple-dark">
  <p class="font-heading font-bold text-3xl">
    {{ 'templates.404.subtext' | t }}
  </p>
  <h1 class="title font-heading font-bold text-purple-dark">
    {{ 'templates.404.title' | t }}
  </h1>
  <a href="{{ routes.all_products_collection_url }}" class="btn btn-primary">
    {{ 'general.continue_shopping' | t }}
  </a>
</div>
