.section-richtext .section__header .subtitle {
  max-width: 800px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.section-richtext .description {
  margin-top: 30px;
  padding: 45px 45px 45px 60px;
}

@media (max-width: 768px) {
  .section-richtext .description {
    padding: 20px 20px 20px 40px;
  }
}

.section-richtext .description p {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.section-richtext .description p::before {
  content: '';
  background: #000;
  border-radius: 50px;
  top: 12px;
  left: -20px;
  width: 6px;
  height: 6px;
  position: absolute;
}